@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<section class="mb-4">
    <h4>Phone:</h4>
    <p>@ViewBag.Phone</p>
</section>

<section class="mb-4">
    <h4>Adress:</h4>
    <p>
        @ViewBag.FirstName @ViewBag.LastName<br />
        @ViewBag.Street @ViewBag.StreetNumber<br />
        @ViewBag.ZipCode @ViewBag.City
    </p>
</section>