@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<section>
    <h4>Programming</h4>
    @foreach (var project in ViewBag.Projects)
    {
        if (project.Course.Equals("Programming"))
        {
            <section class="mb-4">
                <p>
                    <div>@project.Message</div>
                    <a href="@project.Uri" target="_blank">@project.Name</a>
                </p>
            </section>
        }
    }
</section>

<section>
    <h4>Advanced programming</h4>
    @foreach (var project in ViewBag.Projects)
    {
        if (project.Course.Equals("Advanced programming"))
        {
            <section class="mb-4">
                <p>
                    <div>@project.Message</div>
                    <a href="@project.Uri" target="_blank">@project.Name</a>
                </p>
            </section>
        }
    }
</section>

<section>
    <h4>Frontend</h4>
    @foreach (var project in ViewBag.Projects)
    {
        if (project.Course.Equals("Frontend"))
        {
            <section class="mb-4">
                <p>
                    <div>@project.Message</div>
                    <a href="@project.Uri" target="_blank">@project.Name</a>
                </p>
            </section>
        }
    }
</section>