@using Microsoft.AspNetCore.Identity
@using MVCAssignments.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/css/theme/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="bg-dark fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="@Url.Action("Index", "Home")">
                <img src=@Url.Content("~/images/logo.png")
                     height="50px"
                     alt="Logo"
                     class="mr-2" />
            </a>
            @Html.ActionLink("MVC Assignments", "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#menu-bar-toggler"
                    aria-controls="menu-bar-toggler"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                 id="menu-bar-toggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-100
                            justify-content-end">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Projects", "Projects", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Fever check", "FeverCheck", "Doctor", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Guessing game", "GuessingGame", "Games", null, new { @class = "nav-link" })
                    </li>
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("User") || User.IsInRole("Admin")))
                    {
                        <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Database<b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-content bg-dark">
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Countries", "Index", "Countries", null, new { @class = "nav-link dropdown-item" })
                                    @Html.ActionLink("Cities", "Index", "Cities", null, new { @class = "nav-link dropdown-item" })
                                    @Html.ActionLink("Languages", "Index", "Languages", null, new { @class = "nav-link dropdown-item" })
                                }
                                @Html.ActionLink("People", "Index", "People", null, new { @class = "nav-link dropdown-item" })
                            </ul>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>
    <main class="container m-5">
        @RenderBody()
    </main>
    <footer class="bg-dark fixed-bottom text-center">
        <p>&copy; @DateTime.Now.Date.ToString("yyyy-MM-dd") thosel</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
