@model PeopleViewModel

@{
    foreach (var person in @Model.People)
    {
        <h4>@person.Name</h4>
        <p>
            <div>Id: @person.Id</div>
            <div>Phone number: @person.Phone</div>
            <div>City: @person.City.Name</div>
            <div>Country: @person.City.Country.Name</div>
        </p>
        <h6>Languages</h6>
        <p>
            @{
                foreach (var language in person.PersonLanguages)
                {
                    <div>@language.Language.Name</div>
                }
            }
        </p>
    }
}